
  
    h1 {
         text-align: center;
		 text-color: 
		
    }
     .navbar {
       position: fixed-top;
       min-height:50px;
       height:60px;
       margin-bottom: 0px;
       border: 2px solid transparent;
     }
	 .firstimg{
	  position:relative;
	  top:0;
	  left:0;
	  overflow:hidden;
	  
	 }
	 .secondimg{
	  position:absolute;
	  top:0;
	  left:0;
	 }
	 .secondimg:hover{
	  -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform:scale(1.5); /* Safari */
      transform:scale(1.5)); /* Standard syntax */
		 
	 }
	 
	 div.polaroid {
      width: 80%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
     }

     #cont{
       text-align: center;
       padding: 10px 20px;
     }
	 .container{
        position: relative;
        width: 100%;
	 }	

		 
	 
	 
	 .parrallex{
		   background:url('images/ubintro.gif');
		   background-size:cover;
		   background-position: center;
           background-repeat: no-repeat;
		   background-attachment:fixed;
		   height:500px;
		 }
		 
		 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
     @media only screen and (max-device-width: 1024px) {
     .parallax {
        background-attachment: scroll;
      }
	 }
	 .parrallex1{
		   background:url('images/intro.gif');
		   background-size:cover;
		   background-position: center;
           background-repeat: no-repeat;
		   background-attachment:fixed;
		   height:500px;
		 }
		 
		 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
     @media only screen and (max-device-width: 1024px) {
     .parallax1 {
        background-attachment: scroll;
      }
	 }
	 .parrallex3{
		   background:url('images/intro.gif');
		   background-size:cover;
		   background-position: center;
           background-repeat: no-repeat;
		   background-attachment:fixed;
		   height:400px;
		 }
		 
		 /* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
     @media only screen and (max-device-width: 1024px) {
     .parallax1 {
        background-attachment: scroll;
      }
	 }
	 
  #section1 {padding-top:50px;color: #fff; background-color: #9d9e9e;}
  #section2 {padding-top:20px;color: #000; background-color: #00fff;}
  #section3 {padding-top:50px;color: #000; background-color: #e8e8e8;;}
  #section4 {padding-top:50px;color: #000; background-color: #fff;}
  #section5 {padding-top:50px;color: #000; background-color: #e8e8e8;;}
  #section6 {padding-top:50px;color: #000; background-color: #fff;}
  #section7 {padding-top:50px;color: #000; background-color: #e8e8e8;;} 
  
  
  
  p,h1,h5{
   text-align:center;
  }
}

#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 150%;
  font-weight:italic;
  left: 0;
  top: 20px;
}

.fimage {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.fimage:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.cimage:hover  {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.cimage{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}	 

